/* Color tags */

.bug-tag {
  background-color: #729f3f;
}

.dark-tag {
  background-color: #707070;
}

.dragon-tag {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}

.electric-tag {
  background-color: #eed535;
  color: #212121;
}

.fairy-tag {
  background-color: #fdb9e9;
  color: #212121;
}

.fighting-tag {
  background-color: #d56723;
}

.fire-tag {
  background-color: #fd7d24;
}

.flying-tag {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
}

.ghost-tag {
  background-color: #7b62a3;
}

.grass-tag {
  background-color: #9bcc50;
  color: #212121;
}

.ground-tag {
  background-color: #ab9842;
  color: #212121;
}

.ice-tag {
  background-color: #51c4e7;
  color: #212121;
}

.normal-tag {
  background-color: #a4acaf;
  color: #212121;
}

.poison-tag {
  background-color: #b97fc9;
}

.psychic-tag {
  background-color: #f366b9;
}

.rock-tag {
  background-color: #a38c21;
}

.steel-tag {
  background-color: #9eb7b8;
  color: #212121;
}

.water-tag {
  background-color: #9bcc50;
}







